<div class="p-4">
  <!-- Existing Comment -->
  <div class="flex items-start space-x-4 mb-6">
    <img
      src="images/profile.png"
      [alt]="comment().commentCreator.name"
      class="w-10 h-10 rounded-full object-cover border border-gray-300"
    />
    <div class="flex-1">
      <div class="flex justify-between items-center">
        <p class="text-sm font-medium text-gray-800">
          {{ comment().commentCreator.name }}
        </p>
        <div class="flex items-center space-x-2">
          <span class="text-xs text-gray-400">
            {{ comment().createdAt | date : "MMMM dd yyyy hh:mm a" }}</span
          >
          <button class="cursor-pointer text-gray-500">
            <img
              src="icons/ellipsis-horizontal-svgrepo-com.svg"
              class="w-4"
              alt="menu"
            />
          </button>
        </div>
      </div>
      <p class="text-sm text-gray-700 mt-1">{{ comment().content }}</p>
    </div>
  </div>
</div>
