@if (Control()?.errors && Control()?.touched) {
<div class="inputAlert" role="alert">
  <svg
    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Info</span>
  <div>
    @if (Control()?.getError('required')) {
    <span>{{ name() }} is required.</span>
    } @else if (Control()?.getError('minlength') ||
    Control()?.getError('maxlength') ) {
    <span>{{ name() }} requirements:</span>
    <ul class="mt-1.5 list-disc list-inside">
      <li>Only English letters allowed (A–Z or a–z)</li>
      <li>Between 3 and 20 characters</li>
      <li>No numbers or symbols allowed</li>
    </ul>
    }@else if(Control()?.getError('email')){
    <span>Email requirements:</span>
    <ul class="mt-1.5 list-disc list-inside">
      <li>Email should be valid.</li>
      <li>e.g {{ simpleEmail() }}</li>
    </ul>
    }@else if(Control()?.getError('pattern')){
    <span>Password requirements:</span>
    <ul class="mt-1.5 list-disc list-inside">
      <li>At least 8 characters</li>
      <li>At least one uppercase letter</li>
      <li>At least one lowercase letter</li>
      <li>At least one number</li>
      <li>At least one special character (e.g., ! # ?)</li>
    </ul>
    }@else if (Control()?.getError('misMatch')) {
    <span>Passwords do not match.</span>
    }
  </div>
</div>
}
