@if(allPosts){ @for (post of allPosts.posts; track $index) {

<app-recent-post
  [userImg]="post.user.photo"
  [userName]="post.user.name"
  [postDate]="post.createdAt"
  [postText]="post.body!"
  [postImg]="post.image!"
  [postImgAlt]="post.body!"
  [commentUserImg]="post.user.photo"
  [commentUserName]="post.user.name"
  [commentText]="post.body!"
></app-recent-post>

} }@else {
<app-loader-section-skeleton></app-loader-section-skeleton>
}

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
@if (isLoading) {
<app-loader-section-skeleton></app-loader-section-skeleton>
}
