@if(allPosts()){
<app-add-new-post (onSubmitPost)="createPost($event)"></app-add-new-post>
<section class="rounded xl:w-2/5 lg:w-3/5 md:w-2/3 w-5/6 mx-auto my-8">
  <article>
    @for (post of allPosts(); track $index) {
    <app-recent-post [post]="post"></app-recent-post>
    }
  </article>
</section>
}@else {
<app-loader-section-skeleton></app-loader-section-skeleton>
}

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
@if (isLoading) {
<app-loader-section-skeleton></app-loader-section-skeleton>
}
