<section
  class="min-h-screen bg-gray-100 flex items-center justify-center pt-4 pb-10 flex-col"
>
  <h1 class="text-6xl font-semibold text-center text-blue-600 my-4">linked</h1>
  <div class="bg-white shadow-md rounded-lg w-full max-w-lg p-5">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-2">
      Create a new account
    </h2>
    <p class="text-sm text-center text-gray-600 mb-4">It's quick and easy.</p>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <!-- *================> YourName Input <================ -->
      <div class="mb-4">
        @let nameControl = signUpForm.get('name');
        <input
          formControlName="name"
          type="text"
          placeholder="Your Name"
          required
          class="inputStyle"
        />

        @if (nameControl?.errors && nameControl?.touched) {
        <div class="inputAlert" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            @if (nameControl?.getError('required')) {
            <span>Name is required.</span>
            } @else if (nameControl?.getError('minlength') ||
            nameControl?.getError('maxlength') ) {
            <span>Name requirements:</span>
            <ul class="mt-1.5 list-disc list-inside">
              <li>Only English letters allowed (A–Z or a–z)</li>
              <li>Between 3 and 20 characters</li>
              <li>No numbers or symbols allowed</li>
            </ul>
            }
          </div>
        </div>
        }
      </div>
      <!-- *================> Email Input <================ -->
      <div class="mb-4">
        @let emailControl = signUpForm.get('email');
        <input
          formControlName="email"
          type="email"
          placeholder="Mobile number or email address"
          required
          class="inputStyle"
        />
        <!-- Info Alert -->
        @if (emailControl?.errors && emailControl?.touched) {
        <div class="inputAlert" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            @if (emailControl?.getError('required')) {
            <span> Email is required.</span>

            } @if(emailControl?.getError('email')){
            <span>Email requirements:</span>
            <ul class="mt-1.5 list-disc list-inside">
              <li>Email should be valid.</li>
              <li>e.g {{ simpleEmail() }}</li>
            </ul>
            }
          </div>
        </div>
        }
      </div>
      <!-- *================> Password Input <================ -->
      <div class="mb-4">
        @let passwordControl = signUpForm.get('password');
        <input
          formControlName="password"
          type="password"
          placeholder="New password"
          required
          class="inputStyle"
        />
        <!-- Info Alert -->
        @if (passwordControl?.errors && passwordControl?.touched ) {
        <div class="inputAlert" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            @if (passwordControl?.getError('required')) {
            <span> Password is required.</span>

            } @if(passwordControl?.getError('pattern')){
            <span>Password requirements:</span>
            <ul class="mt-1.5 list-disc list-inside">
              <li>At least 8 characters</li>
              <li>At least one uppercase letter</li>
              <li>At least one lowercase letter</li>
              <li>At least one number</li>
              <li>At least one special character (e.g., ! # ?)</li>
            </ul>
            }
          </div>
        </div>
        }
      </div>
      <!-- *================> rePassword Input <================ -->
      <div class="mb-4">
        <!-- @let rePasswordControl = signUpForm.get('rePassword'); -->
        <input
          formControlName="rePassword"
          type="password"
          placeholder="rePassword"
          required
          class="inputStyle"
        />
        <!-- Info Alert -->
        @if (signUpForm.getError('misMatch') &&
        signUpForm.get('rePassword')?.touched){

        <div class="inputAlert" role="alert">
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span>Passwords do not match.</span>
          </div>
        </div>
        }
      </div>
      <!-- *================> Date of birth Input <================ -->
      <div class="mb-4">
        <label class="labelStyle">Date of birth</label>
        <input
          type="date"
          formControlName="dateOfBirth"
          class="w-full p-2 text-sm border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500"
          required
        />
      </div>
      <!-- *================> Gender Input <================ -->
      <div class="mb-4">
        <label class="labelStyle">Gender</label>
        <div class="grid grid-cols-3 gap-2">
          <label
            class="flex items-center gap-2 p-2 border border-gray-300 rounded-md text-sm"
          >
            <input type="radio" value="female" formControlName="gender" />
            Female
          </label>
          <label
            class="flex items-center gap-2 p-2 border border-gray-300 rounded-md text-sm"
          >
            <input type="radio" value="male" formControlName="gender" /> Male
          </label>
          <label
            class="flex items-center gap-2 p-2 border border-gray-300 rounded-md text-sm"
          >
            <input type="radio" value="custom" formControlName="gender" />
            Custom
          </label>
        </div>
      </div>
      <!-- *================> Information Input <================ -->
      <p class="text-xs text-gray-500 mb-4">
        People who use our service may have uploaded your contact information to
        Linked.
        <a class="text-blue-600 hover:underline">Learn more</a>.
      </p>
      <p class="text-xs text-gray-500 mb-4">
        By clicking Sign Up, you agree to our
        <a class="text-blue-600 hover:underline">Terms</a>,
        <a class="text-blue-600 hover:underline">Privacy Policy</a>
        and
        <a class="text-blue-600 hover:underline">Cookies Policy</a>.
      </p>
      <!-- *================> Submit Btn <================ -->
      <div class="text-center">
        <button
          [disabled]="signUpForm.invalid"
          type="submit"
          class="bg-green-600 cursor-pointer disabled:bg-green-200 disabled:cursor-not-allowed hover:bg-green-700 text-white font-semibold py-2 px-6 rounded-md text-base"
        >
          Sign Up
        </button>
      </div>
      <!-- *================> User Aready exist <================ -->
      @if (apiError()) {
      <p
        class="text-sm capitalize text-center text-red-600 my-2 cursor-pointer hover:text-red-700"
        routerLink="/signin"
      >
        {{ apiError() }}
      </p>
      }
      <p
        class="text-sm text-center text-blue-600 my-2 cursor-pointer hover:text-blue-700"
        routerLink="/signin"
      >
        Already have an account?
      </p>
    </form>
  </div>
</section>
